@import '~antd/dist/antd.css';

.header {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  .nav-about {
    position: absolute;
    left: 550px;
    top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
  
  .nav-hospital {
    position: absolute;
    left: 700px;
    top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
  
  .btn-quote {
    position: absolute;
    left: 900px;
    top: 30px;
  }
  
  .main-heading {
    position: absolute;
    width: 363px;
    height: 144px;
    left: 550px;
    top: 212px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
  }
  
  .main-paragraph {
    position: absolute;
    width: 301px;
    height: 54px;
    left: 550px;
    top: 370px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #6A6969;
  }
  
  .hospital-image {
    position: absolute;
    width: 500px;
    height: 740px;
    left: 0px;
    top: 0px;
  }
  
  .select {
    position: absolute;
    /* height: 146.25px; */
    left: -150px;
    top: -20px;
  }
  
  .search-select {
    position: absolute;
    height: 146.25px;
    left: 680px;
    top: 490px;
  }

  .map {
    position: absolute;
    height: 146.25px;
    left: 680px;
    top: 500px;
  }
  
  .geo-text {
    padding-top: 15px;
  }

  .spinner {
    position: absolute;
    height: 146.25px;
    left: 600px;
    top: 600px;
  }
}


@media only screen and (max-width: 600px) {
  .nav-about {
    position: absolute;
    width: 30px;
    height: 15px;
    left: 170px;
    top: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
  }
  .nav-hospital {
    position: absolute;
    width: 69px;
    height: 15px;
    left: 230px;
    top: 15px;  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px; 
    color: #000000;
  }
  .btn-quote { 
    visibility: hidden;

  }
  .hospital-image {
    position: absolute;
    width: 150px;
    height: 304px;
    left: -3px;
    top: 0px;
  }
  .main-heading {
    position: absolute;
    width: 137px;
    height: 54px;
    left: 170px;
    top: 61px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
  .main-paragraph {
    position: absolute;
    width: 128px;
    height: 45px;
    left: 170px;
    top: 115px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #6A6969;
  }
  .select {
    position: absolute;
    left: 170px;
    top: 170px;
  }
  .geo-text {
    padding-top: 10px;
  }
  .search-select {
    position: absolute;
    width: 30px !important;
    height: 146.25px;
    left: 30px;
    top: 320px;
  }
}
